<div class='header'>
  <div class='header__box'>
    <div class='header__box__main'>
      <div class='header__box__main__icon'>
        <b>Blog</b>
      </div>
      <div class='header__box__main__searchbox'>
        <%= form_with url: "#", class:"header__box__main__searchbox__form" do |f| %>
          <%= f.text_field :keyword, id:'searchInput', class:'header__box__main__searchbox__form--input', name:'key' ,placeholder: "キーワードから探す"%>
        <%end %>
      </div>
    </div>
    <div class='header__box__nav'>
      <ul class='header__box__nav__listleft'>
        <%= link_to "おすすめ", "#", class: "header__box__nav__listleft__categories"%>
        <%= link_to "カテゴリー", "#", class: "header__box__nav__listleft__categories"%>
      </ul>
      <ul class="header__box__nav__listright">
        <% if user_signed_in? %>
          <%= link_to "新規投稿", new_post_path, class: "header__box__nav__listright__login" %>
          <%= link_to "マイページ",users_path(current_user.id), class: "header__box__nav__listright__login" %>
        <% else %>
          <%= link_to "ログイン", "#", class: "header__box__nav__listright__login" %>
          <%= link_to "新規会員登録", "#", class: "header__box__nav__listright__new" %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
